@{
    ViewBag.Title = "Home Page";

}
@model BrInCalcTest.Models.FileDetails

<div class="jumbotron">
    <h1>Welcome BrIns Calculation</h1>
   
</div>

<div class="row">
    <div class="col-md-12" style="padding-left:30px">
        <h1></h1>
        
       

        @using (Html.BeginForm("UploadCalcFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

        <div>
            <h2>Upload your file</h2>
            <br /><br />
            <div class="row">
                <div class="col-md-10 alert-info">
                    add 2
                    <br />
                    multiply 3
                    <br />
                    multiply 4
                    <br />
                    subtract 3
                    <br />
                    divide 8
                    <br />
                    subtract 9
                    <br />
                    apply 3
                    <br /> <br />
                    <br /> <span style="font-style: italic">**note : apply should be last line</span>
                </div>

                <br /> <br /> <br /> <br /> <br /> <br />
            </div>
            <br /> <br /> <br /> <br /> <br />
            <div class="row">
                <div class="col-md-10">
                    <div class="col-lg-6"> @Html.TextBox("fileCalc", "Upload Your File Here", new { type = "file" })</div>
                    <div class="col-lg-3"> <input type="submit" value="Upload" /> </div>
                </div>
            </div>
            <br />


            <br />
            @if (@Model != null)
            {
                <div style="background-color: azure; white-space: pre-line">
                    <span style="color: black; text-align: left; font-weight: bold">Uploaded File Content</span><br />
                    <span style="color: black; text-align: left; white-space: pre-line">
                        @Html.Raw(Model.FileContent.Replace("\r\n", "<br>"))
                    </span>
                </div>
                <br />
                <br />
                if (!Model.IsValidToCalculate)
                {
                    <div class="alert-danger alert">
                        <span style="color: black; text-align: left; font-weight: bold">Validation Output</span><br />
                        <span style="color: maroon; font-weight: bold; white-space: pre-line">
                            @Html.Raw(Model.DisplayMessage.Replace("\r\n", "<br>"))
                        </span>
                    </div>
                }
                else
                {
                    <div class="alert-success alert">
                        <span style="color: black; text-align: left; font-weight: bold">Result</span><br />
                        <span style="color: green; font-weight: bold; white-space: pre-line"> Results @Model.DResults</span>
                    </div>
                }
            }
        </div>


        }
    </div>
</div>